<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head", { title: "Principal" }); %>
    <%- include("../components/authToken", { type: 2 }); %>

<body>
    <h1>Cadastro de cliente</h1>

    <a href="./login.ejs">Link</a>
    
    <%- include("../components/message"); %>

    <form id="form">
        <label>Nome:</label><br>
        <input type="text" id="name" required> <br>
        <label>Telefone:</label><br>
        <input type="text" id="phone" required> <br>

        <button>Cadastrar</button>
    </form>
</body>

<%- include("../components/scripts"); %>

<script>
    const form = document.getElementById("form");

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        const data = getDataForm(form);

        const res = getApi(apiClient.create, data, true);
    });
</script>

</html>
