<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head.ejs", { title: "Principal" }); %>

<body>
    <%- include("../components/header.ejs"); %>

    <h1>Teste EJS Electron</h1>

    <a href="./login.ejs">Link</a>
    
    <p id="message" style="display: none;"></p>

    <form id="form">
        <input type="text" id="email" required> <br>
        <input type="password" id="password" required> <br>

        <button>Entrar</button>
    </form>
</body>

<script>
    const form = document.getElementById("form");
    const message = document.getElementById("message");

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        const inputs = Array.from(form.elements);
        inputs.pop();
        let data = {};

        inputs.forEach((input) => {
             data[input.id] = input.value;
        });

        console.log(data);

        console.log(inputs)

        console.log(form);

        login(data)
    })

    async function login(data) {
        const response = await apiRegister.login(data);

        if (response.error == true) {
            message.style.display = "block";
            message.innerText = response.error;
        }

        console.log(response);
    }
</script>

</html>
