<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head.ejs", { title: "Principal" }); %>
    <%- include("../components/authToken.ejs", { type: 2 }) %>

<body>
    <%- include("../components/header.ejs"); %>

    <h1>Teste EJS Electron</h1>

    <a href="./login.ejs">Link</a>
    
    <p id="message" style="display: none;"></p>

    <form id="form">
        <input type="text" id="email" required> <br>
        <input type="password" id="password" required> <br>

        <button>Entrar</button>
    </form>
</body>

</html>
