<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head", { title: "Entrar" }); %>

<body>
    <div id="login">
        <div>
            <div class="center">
                <h2>Entrar</h2>
            </div>

            <%- include("../components/message"); %>

            <form id="form">
                <label>E-mail:</label><br>
                <input value="mateus@gmail.com" type="text" id="email" required> <br>
                <label>Senha</label><br>
                <input value="123" type="password" id="password" required> <br>

                <div class="center">
                    <button>Entrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

<%- include("../components/scripts"); %>

<script>
    const form = document.getElementById("form");
    const message = document.getElementById("message");

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        const data = getDataForm(form);

        login(data);
    })

    async function login(data) {
        const response = await getApi(apiRegister.login, data, true);
        
        localStorage.setItem("authToken", response.data.token)
        localStorage.setItem("name", response.data.name);

        apiWindow.openMainWindow();
    }
</script>

</html>
