<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head.ejs", { title: "Entrar" }); %>

<body>
    <div id="login">
        <div>
            <div class="center">
                <h2>Entrar</h2>
            </div>

            <p id="message" style="display: none;"></p>

            <form id="form">
                <input type="text" id="email" required> <br>
                <input type="password" id="password" required> <br>

                <div class="center">
                    <button>Entrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    const form = document.getElementById("form");
    const message = document.getElementById("message");

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        const inputs = Array.from(form.elements);
        inputs.pop();
        let data = {};

        inputs.forEach((input) => {
             data[input.id] = input.value;
        });

        login(data);
    })

    async function login(data) {
        const response = await apiRegister.login(data);

        if (response.error == true) {
            message.style.display = "block";
            message.innerText = response.error;
            return;
        }
        
        localStorage.setItem("authToken", response.data.token)
        localStorage.setItem("name", response.data.name);

        window.location.href = "home.ejs";
    }
</script>

</html>
