<div class="center">
    <p id="totalValue"></p>
</div>

<script>
    function getTotalValue() {
        const totalValue = document.getElementById("totalValue");
        const table = document.getElementsByTagName("table")[0];
        let total = 0;

        Array.from(table.rows).forEach((row) => {
            let value = row.cells[0].innerHTML;
            value = value.replace(/[^\d]/g, "");
            total = total + Number(value);
        });

        total = new Intl.NumberFormat("pt-br", {
            style: "currency",
            currency: "BRL"
        }).format(total/100);

        totalValue.innerHTML = `Dívida total: ${total}`;
    }

    window.getTotalValue = getTotalValue;
</script>
